body {
    background: #E6E2ED;
    
}

/* Headers */

#head {    
    color: #565566;    
    text-align: center;
}

#head-title {
    font-family: 'Marcellus', serif;
    font-weight: 500;
    padding-top: 2rem;
    letter-spacing: 1.0rem;
}

/* #head .lead {
    font-size: 1.5rem;
    font-family: 'Catamaran', sans-serif;
    font-weight: 200;
    margin-bottom: 0;
} */

#jumbo-img {
    background-image: url(imgs/pineapple_desktop.jpg);
    background-size: cover;
    background-position: center;
    height: 30rem;
}

/* Navbar */

#mainNav {
    background: #E6E2ED;
    font-family: 'Catamaran', sans-serif;
    letter-spacing: 0.5rem;
}

#mainNav .nav-link:hover {
    color:white;
}

/* Portfolio */

#portfolio {
    font-family: 'Catamaran', sans-serif;
}

#portfolio .card-title {
    letter-spacing: .25rem;
}